@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Oswald-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Oswald-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Oswald-Bold.svg#8b7d84d0fec5c092ff0cd49cce97dba9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Oswald-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/Oswald-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Oswald-Light.svg#ffb8dcef06d46f6eb147bc130c4ffab3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Oswald-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Oswald-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Oswald-Regular.svg#06e91909362921b8a6ebe38382ac36f9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

body {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  color: #FFFFFF;
  line-height: 58px;
  letter-spacing: 0px;
  padding-top: 50px;
  text-transform: capitalize;
}

h2 {
  font-weight: 800;
  font-size: 42px;
  color: #3C8286;
  line-height: 64px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  color: #444444;
  line-height: 26px;
  letter-spacing: 0px;
}

section {
  padding-top: 20px;
  padding-bottom: 50px;
}

.container {
  width: 800px;
}

.navbar-default {
  background-color: transparent;
  margin: 0;
  height: 70px;
  padding-top: 20px;
  float: left;
  width: 100%;
  border-bottom: 0;
}

.container>.navbar-header {
  position: absolute;
  left: 50%;
  margin-left: -20px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  padding: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFAA5F;
}

#hero {
  background: url('../images/hero.jpg') bottom right;
  /* background-position: center; */
  height: 570px;
  /* width: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero .container {
  width: 960px;
}

.left-hero {
  width: 60%;
  max-width: 500px;
}

#hero h3 {
  font-weight: 200;
  font-size: 21px;
  color: #D8D8D8;
  line-height: 26px;
  margin-top: 5px;
}

#hero p {
  margin-top: 40px;
}

#hero p>button:first-child {
  margin-right: 20px;
}

.btn-lg {
  letter-spacing: 1px;
  font-size: 24px;
  width: 200px;
  text-transform: capitalize;
}

.btn-warning {
  background-color: #FFAA5F;
}

#hero .btn-warning {
  width: 240px;
}

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  font-weight: 100;
  height: 52px;
}

#benefits h3 {
  text-align: center;
}

#benefits img {
  margin-right: 5px;
  vertical-align: baseline;
}

#benefits i {
  vertical-align: bottom;
  margin-right: 5px;
}

.grey-bg {
  background: #ECF0F1;
}

.center {
  text-align: center;
}

font-family: FontAwesome;
font-size: 24px;
color: #444444;
line-height: 14px;
/* : */

font-family: Oswald;
font-size: 24px;
color: #444444;
line-height: 26px;
letter-spacing: 0px;
/* Sleep With More Girl: */

/* bed: */

font-family: Oswald;
font-size: 24px;
color: #444444;
line-height: 26px;
letter-spacing: 0px;
/* Have A Better Life: */

font-family: FontAwesome;
font-size: 24px;
color: #444444;
line-height: 14px;
/* : */
}

