<div id="subscribe-box" class="sidebar-module sidebar-module-inset">
  <h4>Like what you're reading? Go VIP.</h4>
  <p>Join today to receive instant updates, free learning resources, and a bunch of other awesome stuff. Oh by the way, I hate spame so don't worry about receiving any of that from me.</p>
  <form role="form" action="http://ryanbonhardt.us7.list-manage1.com/subscribe/post?u=788b0ac7b2307b32558ac56d7&amp;id=98fe6b3e56" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group">
      <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter email">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_788b0ac7b2307b32558ac56d7_98fe6b3e56" tabindex="-1" value=""></div>
    <p class="center"><input type="submit" value="Join For Free" name="subscribe" class="btn btn-warning"></p>
  </form>
</div>


<div id="posts-box" class="sidebar-module">
  <h4>Most Popular Posts</h4>
  <ol>
  {% for post in site.posts %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
  </ol>
</div>
