@font-face {
	font-family: klavika;
	src: url(../fonts/Klavika-Regular.otf);
	font-weight: 300;
}

@font-face {
	font-family: klavika;
	src: url(../fonts/Klavika-Bold.otf);
	font-weight: 600;
}

@font-face {
	font-family: klavika;
	src: url(../fonts/Klavika-Light.otf);
	font-weight: 100;
}

body {
	font-family: klavika, arvo, "Helvetica neue", serif;
	font-size: 16px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Home page */


.navbar {
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
}

.navbar-brand img {
	width: 290px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 10px;
}

.jumbotron {
	background: url('../images/ryan-jason-springwood-blur.jpg') no-repeat center center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 170px;
	border-top: 3px solid #e74c3c;
	margin-top: -65px;
	margin-bottom: 0px;
}

.jumbotron h1 {
	padding: 10px;
	text-align: center;
	margin: 10px 20px;
	font-weight: 600;
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	background-color: rgba(0,0,0,.1);
	text-shadow: 1px 1px 2px #333;
}

#bottom-section .col-sm-4 {
	min-height: 370px;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20%;
}

#bottom-section .col-sm-4:hover {
	opacity: .9;
}

#bottom-section .col-sm-4 p {
	color: white;
	font-family: klavika, 'arvo', sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 10px;
}

#bottom-section a:hover {
	text-decoration: none;
}

#bottom-section .col-sm-4 .btn-success {
	background-color: #27ae60;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 100;
}

#byfw {
	background-image: url(../images/byfw.jpg);
	background-color: #e74c3c;
}

#baw {
	background-image: url(../images/baw.png);
	background-color: #f39c12;
}

#oml {
	background-image: url(../images/oml.jpg);
	background-color: #f1c40f;
}

footer {
	background-color: #333;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 200;
	color: #fefefe;
}

footer p {
	margin-top: 5px;
}

footer a {
	color: #ccc;
}

footer a:hover {
	text-decoration: none;
}

/* BAW page */

#build-any-website {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#build-any-website.topper{
	margin-top: 50px;
}

#build-any-website h1, #build-any-website h3 {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#build-any-website .navbar-brand img {
	opacity: .7;
}

#build-any-website .btn-success {
	background-color: #F1C40F;
	border: 1px solid #F1C40F;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 100;
	color: #fefefe;
}

#build-any-website h2 {
	text-align: center;
	font-family: 'Roboto', 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 40px;
	letter-spacing: -2px;
}

#build-any-website .sumome-popup-form h2 {
	font-size: 32px;
	margin-bottom: 10px;
}

#build-any-website h3 {
	font-family: 'Roboto';
	font-weight: 600;
}

#build-any-website p {
	font-size: 18px;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	font-weight: 300;
	padding-top: 5px;
	padding-bottom: 5px;
}

#top-bar {
	background-color: #e74c3c;
	color: white;
	height: 50px;
	padding-top: 3px;
}

.hero {
	background: url('../images/hero-bg-dark.jpg') no-repeat center center;
	padding-top: 100px;
	padding-bottom: 130px;
	border-top: 5px solid #f39c12;
	margin-top: -65px;
	margin-bottom: -20px;
	background-size: cover;
	background-position-y: bottom;
	text-align: center;
}

.hero h1 {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 56px;
	color: #FFFFFF;
	line-height: 66px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.54);
	font-weight: 900;
	letter-spacing: -2.3px;
}

#build-any-website .hero h3 {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 24px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	font-weight: 300;
}

.hero .highlight {
	color: #f39c12;
}

#first-testimony {
	background-color: #FAFAFA;
	padding-top: 20px;
	padding-bottom: 20px;
}

#first-testimony img {
	max-width: 100%;
	border-radius: 165px;
	margin-top: -40px;
}

#build-any-website .testimony {
	color: #888888;
	font-weight: 500;
	font-size: 15px;
	text-rendering: optimizeLegibility;
}

#build-any-website .testimony-source {
	font-size: 15px;
	color: #555555;
	font-weight: 400;
}

#letter {
	color: #444;
	background-color: #efefef;
	padding-bottom: 50px;
}

#letter img {
	border-radius: 75px;
	width: 150px;
	border: 3px solid #F39C12;
	margin-right: 20px;
}

#letter .name {
	font-family: 'Rock Salt', 'Roboto', Helvetica, sans-serif;
	font-size: 25px;
	letter-spacing: 4px;
	font-weight: 600;
}

.note {
	text-align: left;
	padding: 25px 50px;
	-moz-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	-webkit-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	background-color: #fefefe;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	border-top: 5px dashed #f39c12;
}

#learn {
	border-bottom: 8px dashed #F39C12;
	text-align: center;
	color: #444;
	border-top: 8px solid #F39C12;
}

#learn h3, #extra h3, #different h3 {
	color: #f39c12;
}

#extra {
	color: #444;
}

#extra h2, #extra h3, #extra h4 {
	text-align: center;
}


#extra .fa-lg {
	font-size: 1em;
}

#extra .fa-stack {
	margin-right: 10px;
}

#extra .fa-circle {
	color: #f1c40f;
}

#learn-more {
	background-color: #f39c12;
}

#learn-more h2 {
	color: #fefefe;
}

#students {
	background-color: #fafafa;
}

#students .image {
	text-align: center;
}

#students .row {
	margin-top: 40px;
	margin-bottom: 40px;
}

#students img {
	width: 150px;
	border: 3px solid #F39C12;
	border-radius: 75px;
}

.guarantee {
	background-color: #eee;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.guarantee img {
	max-width: 100%;
}

/* Universal styling */

.cursive {
	font-family: 'Rock Salt', 'Roboto', Helvetica, sans-serif;
	font-size: 35px;
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 50px;
}

.highlight {
	color: #e74c3c;
}

.right-align {
	text-align: right;
}

.container-fluid .row {
	margin-left: 0;
	margin-right: 0;
}

.center {
	text-align: center;
}

/* responsive design */

@media (min-width: 1200px) {

	.container {
		width: 970px;
	}

}

@media (max-width: 768px) { 

	#bottom-section .col-sm-4 {
		min-height: 425px;
		padding-top: 55%;
		padding-bottom: 5px;
	}

	.jumbotron h1 {
		font-size: 25px;
	}

	.navbar-brand {
		width: 50%;
	}

	.navbar-brand img {
		width: 220px;
	}

	.navbar-inverse .navbar-brand {
		border: none;
	}

	.jumbotron {
		margin-top: -57px;
		padding-top: 120px;
		padding-bottom: 90px;
	}

}
